<div id="map_container">
  <div id="map"></div>
  <div id="stats"></div>
</div>
<div id="chat_container">
  <div id="chat"></div>
  <textarea id="text-input"></textarea>
  <button id="send-button">Send</button>
  <div id="agree"></div>
</div>
