<div id="chat_container">
  <div id="chat"></div>
  <textarea id="text-input"></textarea>
  <button id="send">Send</button>
  <div id="agree"><button id="agreeOwn"  onclick="agree();">Mine</button><button id="agreeOthers">Yours</button></div>
</div>
<div id="map_container">
  <div id="map_canvas"></div>
  <div id="stats"></div>
  <div id="zoom">
    <a id="zoom_in">+</a>
    <a id="zoom_out">-</a>
  </div>
</div>
<div class="clear"></div>
