<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
    <script src="/nowjs/now.js"></script>
    <script src="/public/javascripts/application.js"></script>
    <style type="text/css" media="all">
        body {
            width: 1220px;
            margin: 5px auto;
            border:solid 1px #d3d3d3;
            padding: 5px;
        }
        #chat_container {
            width: 300px;
            float: right;
        }
        #map_container {
            width: 900px;
            height: 500px;
            margin-right: 300px;
            background:#d3d3d3;
        }
        .clear {
            clear: both;
        }

        #send {
            display: block;
            margin-top: 5px;
        }
    </style>
  </head>
  <body>
    <%- body %>
  </body>
</html>
