body {
    min-width: 620px;
    max-width: 1220px;
    margin: 5px auto;
    border:solid 1px #d3d3d3;
    padding: 5px;
}
h1 {
  margin-right: 320px;
  min-width: 300px;
  max-width: 900px;
  background-color:#FF6D00;
  padding:10px;
  margin-bottom:0px;
  color: white;
  font: bold 25px Verdana;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font: bold 25px Arial;
}
#chat_container {
    width: 300px;
    height:500px;
    padding:10px;
    float: right;

    background-color:#1D5991;
    color: white;
}
#map_container {
    margin-right: 320px;
    min-width: 300px;
    max-width: 900px;
    height: 500px;
    padding:10px;
    position: relative;
    background-color:#FF6D00;
}
#map_canvas {
    width:100%;
    height:100%;
}

#zoom {
    position:absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}

#zoom_in,
#zoom_out {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 1.5em;
    height:1.5em;
    line-height: 1.5em;
    background-color: #326696;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
    font-size: 120%;
}

.clear {
    clear: both;
}

#chat{
    background-color:white;
    width:290px;
    height:390px;
    overflow:auto;
    border: 1px solid gray;
    padding: 5px;
    font-size: 90%;
}
#text-input{
    width: 290px;
}

#send {
    display: block;
    margin-top: 5px;
}

.clear {
    clear: both;
}
