body {
    min-width: 620px;
    max-width: 1220px;
    margin: 5px auto;
    border:solid 1px #d3d3d3;
    padding: 5px;
}
#chat_container {
    width: 300px;
    float: right;
}
#map_container {
    margin-right: 300px;
    width: 900px;
    height: 500px;
    position: relative;
}
#map_canvas {
    width:100%;
    height:100%;
}

#zoom {
    position:absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}

#zoom_in,
#zoom_out {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 1.5em;
    height:1.5em;
    line-height: 1.5em;
    background-color: #326696;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
    font-size: 120%;
}

.clear {
    clear: both;
}

#send {
    display: block;
    margin-top: 5px;
}
