body {
    background-color: #48494D;
    min-width: 620px;
    max-width: 1220px;
    padding: 5px;
}
div.header {
  margin-right: 320px;
  margin-bottom:0px;
  margin-top:0px;

  min-width: 300px;
  max-width: 900px;
  background-color:#FF6D00;
  padding:10px;
  padding-bottom:15px;
  color: white;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  border: 1px solid #BB4D00;
  border-bottom: 0;
  background: #FF6D00 url(/images/map_back.png) repeat-x 0% 0%;
}

h1 {
  font: bold 35px Verdana;
  margin: 0px;

  display:inline;
}

span.credit{
  font: bold 12px Arial;
  color: #DDD;
  text-align: right;

  float:right;
  padding-top: 5px;
}
span.credit a img {
  vertical-align: top;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font: bold 25px Arial;
  color: white;
}
#chat_container {
    width: 300px;
    height:480px;
    padding:10px;
    float: right;

    background-color:#1D5991;

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: 1px solid #88A;
    border-left: 0px:
}

.map_container {
    padding:10px;
    position: relative;
    background-color:#F66A1D;
    
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    
    border: 1px solid #BB4D00;
    border-top: 0px;
}

#map_container {
    margin-right: 320px;
    min-width: 300px;
    max-width: 900px;
    height: 500px;
    padding-top: 1px;

    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
}

#map_canvas {
    width:100%;
    height:100%;
}

#zoom {
    position:absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}

#zoom_in,
#zoom_out {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 1.5em;
    height:1.5em;
    line-height: 1.5em;
    background-color: #326696;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
    font-size: 120%;
}

.clear {
    clear: both;
}

#chat{
    background-color:white;
    height:340px;
    width: 288px;
    overflow:auto;
    border: 1px solid gray;
    padding: 5px;
    font-size: 90%;
}
#text-input{
    width: 294px;
}

#send {
    display: block;
    margin-top: 5px;
}

.clear {
    clear: both;
}
